@import "tailwindcss";


body {
    @apply bg-black text-gray-100 font-sans;
}

input {
    @apply border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent;
}